@model ReviewsSite.Models.Review
@{
    ViewBag.Title = "Review Details - " + Model.Reviewername;
}

<h1>Review Details</h1>
<hr />
<h4>Review ID: @Model.Id</h4>
<h4>Product: @Model.Product.Name</h4>
<h4>Reviewer Name: @Model.Reviewername</h4>
<hr />
<h4>Review: @Model.Content</h4>
<a href="/Review/Update/@Model.Id"><button>Edit Review</button></a>
<a href="/Review/Delete/@Model.Id"><button>Delete Review</button></a>


