@model IEnumerable<ReviewsSite.Models.Review>



    <h2>Review List</h2>
    <hr />
    <ul>
        @foreach (var review in Model)
        {
            <li><a href="/Review/Details/@review.Id">@review.Content</a></li>
        }
    </ul>

    