@model IEnumerable<ReviewsSite.Models.Product>

@section styles{
    <link rel="stylesheet" href="" />
}

<h2>Product List</h2>
<a href="/Product/Create">Add New Product</a>
<hr />
<ul>
    @foreach (var product in Model)
    {
        <li><a href="/Product/Details/@product.Id">@product.Name</a>- <a href="/Product/Update/@product.Id"><button>Edit</button></a></li>
    }
</ul>

