<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/styles/site.css" />
    @RenderSection("styles", required: false)
</head>
<body>
    <div>
        <div class="page-top">
            <h1 class="header"> BEST TACOS FOR TACO TUESDAY</h1>
            <nav>
                <ul>
                    <li><a href="/Product/index">Product List</a></li>
                    <li><a href="/Review/index">Review List</a></li>
                </ul>
            </nav>
        </div>

        <div class="taco-zone">
            <a href="/Product/Details/3"><img src="/images/BasicTacoSideEat.gif" alt="animated basic taco being eaten" /></a>
            <a href="/Product/Details/5"><img src="/images/ChickenTaco .gif" alt="animated chicken taco" /></a>
            <a href="/Product/Details/6"><img src="/images/FishTaco.gif" alt="animated fish taco" /></a>
            <a href="/Product/Details/3"><img src="/images/BasicTacoSide.gif" alt="animated basic taco" /></a>
        </div>

        <div class="main">
            @RenderBody()
        </div>
        <div class="page-footer">
            <p>&copy; 2021 Scrum of the Earth -- The awesome animated taco GIFs are courtesy of the amazing Dayna (from Moist Cheetos).</p>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>